body{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.image-container{
    width: 100%;
    max-width: 1300px;
    flex-wrap: wrap;
   flex-direction: column;
    justify-content: center;
    align-items: center;
}
.image-container img {
    max-width: 100%;
    height: auto; 
    flex-shrink: 0; 
}