body{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.image-container{
    width: 100%;
    max-width: 700px;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-evenly;
}